*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root{
    --color-primario: #113f67;
    --color-secundario: #f8f3c7;
    --espaciado-grande: 3rem;
    --fuente-principal: "Gill Sans", sans-serif;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color-secundario);
}



header {
    background-color: var(--color-primario);
    padding: var(--espaciado-grande);
    font-family: var(--fuente-principal);
}

a {
    color:#3498db;
}

footer{
    background-color: aliceblue;
}
.titulo-grande{

}

